<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="./tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         verbose="true"
         strict="true">

    <testsuite name="Application">
        <directory>./tests</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" title="Name of Project"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="junit" target="build/logs/phpunit/phpunit.xml" logIncompleteSkipped="true" />
    </logging>
</phpunit>